resources/begrep/sikkerDigitalPost/xsd/SBDH20040506-02/OrderResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.ean-ucc.org/schemas/1.3/eanucc" xmlns="http://www.ean-ucc.org/schemas/1.3/eanucc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xsd:element name="orderResponse" type="OrderResponseType"/>
	<xsd:complexType name="OrderResponseType">
		<xsd:sequence>
			<xsd:element name="orderResponseIdentification" type="xsd:string"/>
			<!-- rest of content model would go here -->
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
