resources/begrep/oppslagstjenesten/xsd/oppslagstjeneste-ws-14-05.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://kontaktinfo.difi.no/wsdl/oppslagstjeneste-14-05"
	    xmlns:ot14-05="http://kontaktinfo.difi.no/xsd/oppslagstjeneste/14-05"

        name="kontaktinfo-oppslagstjeneste-14-05" targetNamespace="http://kontaktinfo.difi.no/wsdl/oppslagstjeneste-14-05">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://kontaktinfo.difi.no/xsd/oppslagstjeneste/14-05" schemaLocation="oppslagstjeneste-ws-14-05.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="HentEndringerForespoersel">
		<wsdl:part name="HentEndringerForespoersel" element="ot14-05:HentEndringerForespoersel" />
	</wsdl:message>
	<wsdl:message name="HentEndringerRespons">
		<wsdl:part name="HentEndringerRespons" element="ot14-05:HentEndringerRespons" />
	</wsdl:message>

    <wsdl:message name="HentPersonerForespoersel">
        <wsdl:part name="HentPersonerForespoersel" element="ot14-05:HentPersonerForespoersel" />
    </wsdl:message>
    <wsdl:message name="HentPersonerRespons">
        <wsdl:part name="HentPersonerRespons" element="ot14-05:HentPersonerRespons" />
    </wsdl:message>

    <wsdl:message name="HentPrintSertifikatForespoersel">
        <wsdl:part name="HentPrintSertifikatForespoersel" element="ot14-05:HentPrintSertifikatForespoersel" />
    </wsdl:message>
    <wsdl:message name="HentPrintSertifikatRespons">
        <wsdl:part name="HentPrintSertifikatRespons" element="ot14-05:HentPrintSertifikatRespons" />
    </wsdl:message>

	<wsdl:portType name="oppslagstjeneste-14-05">
		<wsdl:operation name="HentEndringer">
			<wsdl:input message="tns:HentEndringerForespoersel" />
			<wsdl:output message="tns:HentEndringerRespons" />
		</wsdl:operation>

        <wsdl:operation name="HentPersoner">
            <wsdl:input message="tns:HentPersonerForespoersel" />
            <wsdl:output message="tns:HentPersonerRespons" />
        </wsdl:operation>

        <wsdl:operation name="HentPrintSertifikat">
            <wsdl:input message="tns:HentPrintSertifikatForespoersel" />
            <wsdl:output message="tns:HentPrintSertifikatRespons" />
        </wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="oppslagstjeneste-14-05_SOAP11Binding" type="tns:oppslagstjeneste-14-05">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="HentEndringer">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

        <wsdl:operation name="HentPersoner">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="HentPrintSertifikat">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="oppslagstjeneste-14-05">
		<wsdl:port binding="tns:oppslagstjeneste-14-05_SOAP11Binding" name="oppslagstjeneste">
			<soap:address location="/ws-v3" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
