resources/begrep/oppslagstjenesten/xsd/oppslagstjeneste-ws-16-02.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://kontaktinfo.difi.no/wsdl/oppslagstjeneste-16-02"
	    xmlns:ot16-02="http://kontaktinfo.difi.no/xsd/oppslagstjeneste/16-02"

        name="kontaktinfo-oppslagstjeneste-16-02" targetNamespace="http://kontaktinfo.difi.no/wsdl/oppslagstjeneste-16-02">

	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://kontaktinfo.difi.no/xsd/oppslagstjeneste/16-02" schemaLocation="oppslagstjeneste-ws-16-02.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="HentEndringerForespoersel">
		<wsdl:part name="HentEndringerForespoersel" element="ot16-02:HentEndringerForespoersel" />
	</wsdl:message>
	<wsdl:message name="HentEndringerRespons">
		<wsdl:part name="HentEndringerRespons" element="ot16-02:HentEndringerRespons" />
	</wsdl:message>

    <wsdl:message name="HentPersonerForespoersel">
        <wsdl:part name="HentPersonerForespoersel" element="ot16-02:HentPersonerForespoersel" />
    </wsdl:message>
    <wsdl:message name="HentPersonerRespons">
        <wsdl:part name="HentPersonerRespons" element="ot16-02:HentPersonerRespons" />
    </wsdl:message>

    <wsdl:message name="HentPrintSertifikatForespoersel">
        <wsdl:part name="HentPrintSertifikatForespoersel" element="ot16-02:HentPrintSertifikatForespoersel" />
    </wsdl:message>
    <wsdl:message name="HentPrintSertifikatRespons">
        <wsdl:part name="HentPrintSertifikatRespons" element="ot16-02:HentPrintSertifikatRespons" />
    </wsdl:message>

    <wsdl:message name="OppslagstjenestenHeader">
        <wsdl:part name="Oppslagstjenesten" element="ot16-02:Oppslagstjenesten" />
    </wsdl:message>

	<wsdl:portType name="oppslagstjeneste-16-02">
		<wsdl:operation name="HentEndringer">
			<wsdl:input message="tns:HentEndringerForespoersel" />
			<wsdl:output message="tns:HentEndringerRespons" />
		</wsdl:operation>

        <wsdl:operation name="HentPersoner">
            <wsdl:input message="tns:HentPersonerForespoersel" />
            <wsdl:output message="tns:HentPersonerRespons" />
        </wsdl:operation>

        <wsdl:operation name="HentPrintSertifikat">
            <wsdl:input message="tns:HentPrintSertifikatForespoersel" />
            <wsdl:output message="tns:HentPrintSertifikatRespons" />
        </wsdl:operation>
	</wsdl:portType>

    <wsdl:binding name="oppslagstjeneste-16-02_SOAP12Binding" type="tns:oppslagstjeneste-16-02">
         <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="HentEndringer">
            <soap12:operation soapAction="" />
            <wsdl:input>
                <soap12:header message="tns:OppslagstjenestenHeader" part="Oppslagstjenesten" use="literal" wsdl:required="false" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="HentPersoner">
            <soap12:operation soapAction="" />
            <wsdl:input>
                <soap12:header message="tns:OppslagstjenestenHeader" part="Oppslagstjenesten" use="literal" wsdl:required="false" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="HentPrintSertifikat">
            <soap12:operation soapAction="" />
            <wsdl:input>
                <soap12:header message="tns:OppslagstjenestenHeader" part="Oppslagstjenesten" use="literal" wsdl:required="false" />
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        </wsdl:binding>

	<wsdl:service name="oppslagstjeneste-16-02">

        <wsdl:port binding="tns:oppslagstjeneste-16-02_SOAP12Binding" name="oppslagstjeneste_SOAP12">
            <soap12:address location="https://kontaktinfo-ws-ver2.difi.no/kontaktinfo-external/ws-v5" />
        </wsdl:port>
	</wsdl:service>

</wsdl:definitions>
