resources/begrep/sikkerDigitalPost/nyinf/xsd/innbyggerpost.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://digdir.no/innbyggerpost" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bme="http://peppol.eu/xsd/ticc/envelope/1.0" targetNamespace="http://digdir.no/dpi/innbyggerpost">
	<xs:import namespace="http://peppol.eu/xsd/ticc/envelope/1.0" schemaLocation="businessMessageEnvelope.xsd"/>	
	<xs:element name="Innbyggerpost">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SignertForretningsmelding" type="xs:string"/>
				<xs:element name="Dokumentpakke" type:"xs:base64Binary"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	 
</xs:schema>
